@import 'src/public/css/variables.scss';

$menuFontSize: 14px;

#client-header {
    width: 100%;
    height: 82px;
    font-size: 20px;
    color: $basicColor;
    grid-template-columns: 20% 50% 30%;
    display: grid;
    align-content: center;
}

#nav-logo {
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        li {
            display: inline-flex;
            position: relative;
            margin: 0 24px;
            align-content: center;
            justify-content: center;

            .menu-link {
                font-size: $menuFontSize;
                font-weight: 5;
                color: $basicColor;
                position: relative;
                text-transform: capitalize;
                padding-right: 12px;
                width: 100%;
            }

            .arrow-down {
                display: inline-block;
                width: 4px;
                height: 4px;
                border-top: 2px solid $basicColor;
                border-right: 2px solid $basicColor;
                transform: rotate(135deg);
                position: absolute;
                top: 30%;
                right: 0;
            }

            .sub-menu {
                position: absolute;
                background-color: #fff;
                display: block;
                min-width: 200px;
                transform: scaleY(0);
                visibility: hidden;
                opacity: 0;
                z-index: 11;
                transform-origin: 0 0;
                top: 100%;
                left: 0;
                transition: all 0.3s ease-out 0s;
                padding: 24px 0;

                li {
                    margin: 0;
                    display: block;
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }
                }
            }

            &:hover .sub-menu {
                opacity: 1;
                transform: scaleY(1);
                visibility: visible;
            }
        }
    }
}

#nav-association {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
        cursor: pointer;
    }

    #search-icon {
        // position: relative;
        margin-right: 20px;
        #search-container {
            position: absolute;
            height: 0;
            transition: all 0.3s ease 0s;
            transform: scaleY(0);
            // visibility: hidden;
            // opacity: .5;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            transform-origin: 0 0;
            #search-box {
                width: 100vw;
                background-color: #fff;
                z-index: 1;
                padding: 32px 0;
                justify-content: center;
                text-align: center;

                #button-close-search {
                    justify-self: center;
                }

                .wrapper-tags {
                    display: flex;
                    justify-content: center;

                    .tag {
                        margin: 0 24px;
                        text-align: center;
                        transition: all 0.5s;
                        font-size: 18px;

                        &:hover {
                            color: $hoverColor;
                            font-size: 20px;
                        }
                    }
                }

                #search-form {
                    position: relative;
                    width: 1120px;
                    display: block;
                    margin: 0 auto;

                    #search-input {
                        height: 50px;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid lightgrey;
                        padding: 0 15px;
                    }
                    #submit-search {
                        position: absolute;
                        height: 50px;
                        right: 0;
                        top: 0;
                        text-align: center;
                        background-color: #fff;
                        border: none;
                    }
                }
            }

            #background-close-search {
                position: absolute;
                width: 100vw;
                height: 100vh;
                z-index: -1;
                top: 0;
                left: 0;
            }
        }

        #toggle-search-box {
            display: none;
            &:checked + #search-container {
                height: 100vh !important;
                // transition: all 0.3s ease-out 0s !important;
                transform: scaleY(1) !important;
                // visibility: visible !important;
                // opacity: 0.5 !important;
            }
        }

        .show-search {
            height: 300px !important;
            transition: all 0.3s ease-out 0s !important;
            transform: scaleY(1) !important;
            visibility: visible !important;
            opacity: 1 !important;
        }

        .hide-search {
            transform: scaleY(0) !important;
            visibility: hidden !important;
            opacity: 0 !important;
        }
    }

    #login-icon {
        position: relative;
        z-index: 1;

        #auth-box {
            transform: scaleY(0);
            visibility: hidden;
            opacity: 0;
            z-index: 11;
            transition: all 0.3s ease-out 0s;
            position: absolute;
            right: 0;
            background-color: #fff;
            display: block;
            min-width: 200px;
            top: 100%;
            padding: 24px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            width: 300px;
            transform-origin: 0 0;

            #wrapper-form {
                position: relative;

                #login-form {
                    font-size: $menuFontSize;
                    transition: all 0.3s ease-out 0s;
                    transform: scaleX(1);
                    transform-origin: 0 0;
                    opacity: 1;
                    z-index: 1;
                    position: unset;

                    #login-action {
                        display: flex;
                        justify-content: space-between;
                        font-size: 12px;
                        margin-bottom: 12px;
                        #remember-me {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            #remember {
                                margin-right: 6px;
                                cursor: pointer;
                            }
                        }

                        #forgot-password {
                            cursor: pointer;
                        }
                    }

                    #login-btn {
                        position: relative;
                        &:hover {
                            // background-color: #bc8246;
                            transition: all 0.3s ease-out 0s;
                            // color: #fff;
                        }
                    }

                    .register-redirect {
                        background-color: #333;
                        color: #fff;
                        cursor: pointer;

                        #to-register {
                            // display: none;
                        }

                        &:hover {
                            background-color: #bc8246;
                            transition: all 0.3s ease-out 0s;
                        }
                    }
                }

                .login-hidden {
                    opacity: 0 !important;
                    z-index: -1 !important;
                    transform: scaleX(0) !important;
                    visibility: hidden !important;
                    position: absolute !important;
                }

                #register-form {
                    font-size: $menuFontSize;
                    transition: all 0.3s ease-out 0s;
                    transform: scaleX(0);
                    transform-origin: right;
                    opacity: 0;
                    z-index: -1;
                    position: absolute;
                    visibility: hidden;
                }

                .register-show {
                    opacity: 1 !important;
                    z-index: 1 !important;
                    transform: scaleX(1) !important;
                    visibility: visible !important;
                    position: relative !important;
                }

                .or-divide {
                    position: relative;
                    text-align: center;
                    border-bottom: 1px solid #eaedff;
                    margin: 24px 0;
                    z-index: 0;

                    span {
                        position: absolute;
                        z-index: 1;
                        background-color: #fff;
                        left: 0;
                        right: 0;
                        top: -10px;
                        margin: 0 auto;
                        width: 60px;
                        font-size: 12px;
                    }
                }
            }
        }

        #show-login-form {
            display: none;

            &:checked + #auth-box {
                transform: scaleY(100%) !important;
                visibility: visible !important;
                opacity: 1 !important;
            }
        }
    }
}
