@import 'src/public/css/variables.scss';

$menuFontSize: 14px;

#client-header {
    width: 100%;
    height: 82px;
    font-size: 20px;
    color: $basicColor;
    grid-template-columns: 20% 50% 30%;
    display: grid;
    align-content: center;
}

#nav-logo {
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        li {
            display: inline-flex;
            position: relative;
            margin: 0 24px;
            align-content: center;
            justify-content: center;

            .menu-link {
                font-size: $menuFontSize;
                font-weight: 5;
                color: $basicColor;
                position: relative;
                text-transform: capitalize;
                padding-right: 12px;
                width: 100%;

                .arrow-down {
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border-top: 2px solid $basicColor;
                    border-right: 2px solid $basicColor;
                    transform: rotate(135deg);
                    position: absolute;
                    top: 30%;
                    right: 0;
                }

                .sub-menu {
                    position: absolute;
                    background-color: #fff;
                    display: block;
                    min-width: 200px;
                    transform: scaleY(0);
                    visibility: hidden;
                    opacity: 0;
                    z-index: 11;
                    transform-origin: 0 0;
                    top: 100%;
                    left: 0;
                    transition: all 0.3s ease-out 0s;
                    padding: 24px 0;

                    li {
                        margin: 0;
                        display: block;
                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }
                    }
                }

                &:hover .sub-menu {
                    opacity: 1;
                    transform: scaleY(1);
                    visibility: visible;
                }
            }
        }
    }
}

#nav-association {
    display: flex;
    font-size: $menuFontSize;
    justify-content: flex-end;
    align-items: center;
}
